__pycache__/
*.pyc
venv/
securechat.db
.env
key.pem
cert.pem
# Start MySQL Locally with: sudo service mysql start
# User 2 Password Hashed: $2b$12$HmTLcpP6Lko1k4SGNA.2eeMOUwESuzosPw5q8OAiBeoCC6kKjy87C
# User 3 Password Hashed: $2b$12$IOqNcjYa6.Dvdxw4P1IlTOMlnmVCgAswFjYDJoeKoLNZi/Tn7HJjy